

.main{
    background-color:#F6F6F6;
    padding-bottom: 20px;
    
  }
  
.parti {
  background-color: white;
  font-family: Montserrat;
  color:#85AC43;
  margin-left: 80px;
  border-radius: 25px;
  height: 40px;
  width: 150px;
  font-size: 12px;
  font-weight: bold;
  border: none;
}

.parti:hover,:focus{
    opacity: 0.6;
    color:#85AC43;
}
  